{% extends 'master.html' %}

{% block content %}


 <main class="main-content">
                <div class="row pb30 align-items-end">
                    <div class="col-lg-4 ml-md-auto col-md-6 col-sm-6 mb20">
                        <br><br>
                        {% if error%} <h6>{{error}}</h6> {% endif%}
                        <h3 class="text-black text-left mb30" style="color:#ff6f00"><strong style="color:#000000">Great Choice</strong>
                            Welcome! </h3>



                        <form method ="POST" action="signup" enctype="multipart/form-data">
                             {% csrf_token %}
                            <div class="form-group">
                                <input type="text1" class="form-control" name="name" placeholder="Your Goodname" required="">
                            </div>
                            <div class="form-group">
                                <input type="text2" class="form-control"  name="username" placeholder="Your Username (make sure it's unique!)" required="">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control"  name="email" placeholder="Your Email" required="">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control"  name="password1" placeholder="Your Password" required="">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control"  name="password2" placeholder="Confirm Password" required="">
                            </div>
                            <div class="form-group">
                                <br>
                                <button type="submit" class="btn btn-rounded btn-primary btn-block">Sign Up</button>
                            </div>
                        </form>
                         <div class="text-center text-black-gray">Or</div>
                            <hr>
                            <div>
                                <a href="{% url 'home' %}"><button type="submit" class="btn btn-rounded btn-primary btn-block">Sign In</button></a>

                            </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 mb20">
                        <h3 class="text-black text-left mb30">Or Use Social Account</h3>
                        <div class="clearfix">
                            <a href="#" class="social-icon-lg si-dark si-colored-facebook">
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="social-icon-lg si-dark si-colored-twiter">
                                <i class="fab fa-github"></i>
                                <i class="fab fa-github"></i>
                            </a>
                            <a href="#" class="social-icon-lg si-dark si-colored-linkedin">
                                <i class="fab fa-linkedin-in"></i>
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
</main>




{% endblock %}