{% extends 'master.html' %}

{% block content %}


 <main class="main-content">
 <body class='bg-white'>
<hr>
        <div class="page-wrapper" id="page-wrapper">
             <link href="/static/login/css/style.css" rel="stylesheet">

            <main class="content">

                <div class="container-fluid flex d-flex">
                    <div class='row flex align-items-center'>
                        <div class='col-6 d-flex flex h-lg-down full-height bg-fHeight' style='background-image: url(images/fheight1.jpg)'>

                        </div>
                        <div class='col-lg-4 col-md-5 col-sm-6 d-flex flex ml-auto mr-auto full-height pt-40 pb-20'>
                            <div class="w100">
                                 <a href="index.html" class="avatar avatar60 ml-auto mr-auto rounded-circle">
                               <h6 style="font-family:Gotham;font-size:34px;color:#00000">[<span style="color:#ff6f00"> ]</span> Tensor<span style="color:#ff6f00">Stream</span></h6></a>
                            <div class="title-sep text-center sep-white mt-20 mb-30">
                                <span class='font600 fs16 text'>Create your account here </span>
                                {% if error%} <h6>{{error}}</h6> {% endif%}
                            </div>
                            <div>
                                 <form role="form" method ="POST" action="signup" enctype="multipart/form-data">
                                        {% csrf_token %}

                                      <div class="input-icon-group">
                                            <div class='input-icon-append'>
                                                <i class="fa fa-user"></i>
                                                <input id="us1" name="username" placeholder="Unique Username" type="text" class="form-control" required="">
                                            </div>
                                        </div>
                                        <div class="input-icon-group">
                                            <div class='input-icon-append'>
                                                <i class="fa fa-envelope"></i>
                                                <input id="email" name="email" placeholder="Your Email" type="email" class="form-control" required="">
                                            </div>
                                        </div>
                                    <div class="input-icon-group">
                                            <div class='input-icon-append'>
                                                <i class="fa fa-lock"></i>
                                                <input id="pass" name="password1" placeholder="New Password" type="password" class="form-control" required="">
                                            </div>
                                        </div>
                                    <div class="input-icon-group">
                                            <div class='input-icon-append'>
                                                <i class="fa fa-lock"></i>
                                                <input id="cn-pass" name="password2" placeholder="Confirm Password" type="password" class="form-control" required="">
                                            </div>
                                        </div>
                                        <div class="form-group  pb-2">
                                            <span class="label-helper  fs12 text-muted">
                                                By Creating an Account you Agree to our
                                                <a href="#" class="b-b pb-1 text-primary">Terms and Conditions</a> and our <a href="#" class="b-b pb-1 text-primary">Privacy Policy</a>.
                                            </span>
                                        </div>
                                        <button type="submit" class="btn btn-gradient-primary btn-block btn-lg">Create account</button>

                                <div class="pt-20 text-center">
                                        Already have an account? <a href='{% url "signin" %}' class='text-primary ml-2 b-b d-inline-block pb-1'>Sign In Here</a>
                                    </div>
                                    <ul class="list-unstyled mb-0">
                                        <li class="text-center pt-20 pb-20">
                                            <div class="title-sep sep-white">
                                                <span>Or </span>
                                            </div>
                                        </li>
                                       <!-- <li>
                                            <a href="javascript:void(0)" class="btn btn-social btn-border-o btn-icon btn-block  si-colored-facebook mr-2 mb-2">
                                                <i class="fab fa-facebook-f"></i> Sign Up with Facebook
                                            </a>
                                        </li>-->
                                        <li>
                                            <a href="javascript:void(0)" class="btn btn-social btn-border-o btn-icon btn-block  si-colored-g-plus mr-2 mb-2">
                                                <i class="fab fa-github"></i> Sign Up with Github
                                            </a>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                            </div>
                        </div>
                    </div>
                </div><!-- main end-->

            </main><!-- page content end-->
        </div><!-- app's main wrapper end -->

    </body>
</main>




{% endblock %}