{% extends 'master.html' %}

{% block content %}


    <div class="site-section">

      <div class="container">

           <div class="col-xl-3 col-lg-4 col-md-6">
               <!--<script> document.write(new Date()); </script>-->
               <div class="list-title fs-2x">
                   <h3>Welcome <strong>{{user}}</strong></h3>

               </div>
            <div class="container">
                <div class="buttons">
                    <br>
                    <a href="{% url 'create' %}"  data-scroll="" class="btn btn-primary btn-rounded"><i class="fas fa-plus"></i></i>New Blog</a>
                </div>

           </div><!--col-->
           </div>

        <div class="row">
          <div class="col-lg-6">
              <br>
            <div class="section-title">
              <h2>Unpublished Blogs</h2>
            </div>
              {% for b in currentuserblogs %}
              {% if b.status == 0 %}
            <a class="post-entry-2 d-flex">
                <a href="/dlblog/{{ b.slug }}"><div class="thumbnail" style="background-image: url({{b.blog_main_image.url}})"></div></a>
              <div class="contents">
                <h2><a href="/dlblog/{{ b.slug }}">{{b.title}}</a></h2>
                <p class="mb-3">{{b.summary}}</p>
                <div class="post-meta">
                    <div class="col-6">
                        <a href="/dlblog/edit_blog/{{ b.slug }}" class="btn btn-gradient-danger btn-icon btn-icon-right btn-sm">
                            <i class="fa fa-arrow-right"></i>
                                                        Edit Blog
                        </a>
                    </div>
                </div>
              </div>
            </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="col-lg-6">
            <div class="section-title">
              <h2>Published Blogs</h2>
            </div>
            {% for b in currentuserblogs %}
              {% if b.status == 1 %}
            <div class="post-entry-2 d-flex">
              <div class="thumbnail" style="background-image: url({{b.blog_main_image.url}})"></div>
              <div class="contents">
                <h2><a href="blog-single.html">{{b.title}}</a></h2>
                <div class="post-meta">
                    <div class="col-6">
                        <a href="/dlblog/edit_blog/{{ b.slug }}" class="btn btn-gradient-danger btn-icon btn-icon-right btn-sm">
                            <i class="fa fa-arrow-right"></i>
                                                        Edit Blog
                        </a>
                    </div>
                </div>
              </div>
            </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>


{% endblock %}