{% extends 'master.html' %}
{% block content %}

          <main class="main-content">
                      <div class="album py-5 bg-light">
                            {% load static %}
                        <div class="container">
                          <br>
                              <img src="{{blog.blog_main_image.url}}" height="520" width="1080">
                          </div>

                        <article>
                          <div class="row">
                            <div class="col-lg-8 col-md-10 mx-auto">
                              <br>
                                <h2>{{blog.title}}</h2>
                                <h5>{{blog.summary}}</h5>

                                <h5 class="meta" style="color: #ff6f00">Posted by <strong style="color: #000000">{{ blog.author }}</strong>
                                    on <strong style="color: #000000">{{ blog.created_on}}</strong> </h5>
                              {{ blog.content | safe }}
                            </div>
                          </div>
                        </article>

                      </div>
            </div>
          </main>



{% endblock%}