{% extends 'master.html' %}
{% block content %}

          <main class="main-content">
                      <div class="album py-5 bg-light">
                            {% load static %}
                              <header style="background-image: url('{{blog.blog_main_image.url}}')" >
                                <div class="overlay"></div>
                                <div class="container">
                                  <div class="row">
                                    <div class="col-lg-8 col-md-10 mx-auto">
                                      <div class="post-heading">
                                        <br>
                                        <h1 style="color:#fff">{{blog.title}}</h1>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </header>
                        <article>
                          <div class="row">
                            <div class="col-lg-8 col-md-10 mx-auto">
                              <br>
                              <span class="meta">Posted by {{ blog.author }} on {{ blog.created_on}}</span>
                              <br><br>
                              <p>{{ blog.content | safe }}</p>
                            </div>
                          </div>
                        </article>

                      </div>
            </div>

          </main>



{% endblock%}