{% extends 'master.html' %}

{% block content %}
{% load crispy_forms_tags %}
<main class="main-content" >
    <br>
    <main role="main">
          <div class="album py-5 bg-light" >
            <div class="container">
                <p class="text-center">Update Blog</p>
                <!--<h3 class="text-center section-title mb70" style="color:#ff6f00">New Blog</h3>-->

                {% block mycontent %}
                      <form method ="POST" action="/dlblog/edit_blog/{{slug}}/" enctype="multipart/form-data">
                            {% csrf_token %}
                              {{form.media }}
                              {{form | crispy}}
                          <br>
                            <input class="btn btn-primary" type="submit" value="Update Blog"/>
                        </form>
                {% endblock %}
          </div>
          </div>
    </main>
</main>

{% endblock %}