<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action = "/fileupload" method = "post" enctype="multipart/form-data">
                             <div class='wrapper'>
                                 <input type="file" name="file" class="btn btn-outline-secondary" />
                                 <br><br>
                                 <input type="submit" value="Get Summary" class="btn btn-success"
                                 >
                             </div>
                        </form>
</body>
</html>