{% extends 'master.html' %}

{% block content %}

        <div id="home" class="parallax-hero" data-jarallax='{"speed": 0.2}' data-jarallax-video="https://youtu.be/Ayo2K9kPuFU">
            <div class="parallax-overlay"></div>
            <!--<div class="d-flex align-items-center"></div>-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 ml-auto mr-auto text-center">
                        <h4 class="mb20 text-white" >An end to end ML and AI platform</h4>
                        <h1 class="mb20 text-white" style="color:#00000">Master Deep Learning</h1>
                        <h4 class="mb20 text-white" style="color:#fff">Master the computer vision skills behind advances in robotics and automation.
                            Write programs to analyze images, implement feature extraction, and recognize objects using deep learning models.</h4>
                        <div class="mb20 text-gray">
                            <br>
                            <!--<a data-scroll href="#features" class="btn btn-white-outline mr-3">Course - Coming Soon</a>-->

                            <br><br>
                            <h6 class="mb20 text" style="color:#fff"><bold>“Failure will never overtake me if my definition to succeed is strong enough”
                            <a class="mb20 text" href="https://en.wikipedia.org/wiki/A._P._J._Abdul_Kalam" target=" " style="color:#fff">APJ Abdul Kalam</a></bold></h6>

                        </div>
                    </div>

                </div>
            </div>
        </div><!--hero-->


<main class="main-content" >
    <main role="main">
          <div class="album py-5 bg-light" >
            <div class="container">
                    <h3 class="text-center section-title mb70" style="color:#00000">Latest Blogs</h3>

                <!--Profile Card 5-->

                <div class="row">
                 {% for b in blog %}
    		<div class="col-lg-4 d-flex align-items-stretch">
    		    <div class="card profile-card-5 polaroid">
                    <a href="dlblog/{{ b.slug }}">
                        <div class="card-img-block">
    		            <img class="card-img-top" src="{{b.blog_main_image.url}}" alt="Card image cap">
    		        </div>
                    <div class="card-body pt-0">
                    <h5 class="card-title">{{b.title}}</h5>
                        <h6>{{b.created_on}}</h6>
                        <h6>{{b.summary}}</h6>
                        <h6 class="text float-right" style="color:#ff6f00;">Read More >></h6>
                    </div>

                    </a>
                </div>
    		</div>
                 {% endfor %}
                </div>
            </div>
          </div>

        <div class="album py-5 bg-light" >
            <div class="container">
                    <h3 class="text-center section-title mb70" style="color:#00000">Free Courses</h3>


                <div class="row">
                 {% for c in courses %}
    		<div class="col-lg-4 d-flex align-items-stretch">
    		    <div class="card profile-card-5 polaroid">
                    <a href="courses/{{ c.slug }}">
                        <div class="card-img-block">
    		            <img class="card-img-top" src="{{c.course_main_image.url}}" alt="Card image cap">
    		        </div>
                    <div class="card-body pt-0">
                    <h5 class="card-title">{{c.course_title}}</h5>
                        <h4>{{c.course_name}}</h4>
                        <hr>
                        <h6 class="text float-right" style="color:#ff6f00;">Go To Course >></h6>

                    </div>


                    </a>
                </div>
    		</div>
                 {% endfor %}
                </div>
            </div>
          </div>

    </main>
</main>




{% endblock%}