{% extends 'master.html' %}

{% block content %}
{% load crispy_forms_tags %}
<main class="main-content" >
    <br>
    <main role="main">
          <div class="album py-5 bg-light" >
            <div class="container">
                <h3 class="text-center section-title mb70" style="color:#ff6f00">New Blog</h3>

                {% block mycontent %}
              <form method ="POST" action="create" enctype="multipart/form-data">
                    {% csrf_token %}
                  {{ form.media }}
                    {{ form | crispy }}

                    <input class="btn btn-primary" type="submit" value="Create Blog"/>
                </form>
                {% endblock %}
          </div>
          </div>
    </main>
</main>

{% endblock %}